---
layout: layout.liquid
title: Lab 6 | Alpine
---

<div x-data="{
        names: ['bob', 'grace', 'joe', 'alex', 'natalie', 'ella', 'mitch', 'trinity', 'imen', 'james', 'stefan'],
        name: '',
        generateRandomName() {
            this.name = this.names[Math.floor(Math.random() * this.names.length)];
            return this.name;
        }}">
    <button @click="generateRandomName">Get Name</button>
    <h1>Name: <span x-text="name"></span> </h1>
</div>